<%- include("./partials/header") %>
<div class="ui center aligned grid">
    <div class="left aligned fourteen wide column">
        <h2 class="ui header">Edit <%= blog.title %></h2>
        <form class="ui form" action="/blogs/<%= blog.id %>?_method=PUT" method="POST">
            <div class="field">
                <h3>User Name</h3>
                <input type="text" name="blog[author]" value="<%= blog.author %>" required>
            </div>
            <div class="field">
                <h3>Title</h3>
                <input type="text" name="blog[title]" value="<%= blog.title %>" required>
            </div>
            <div class="field">
                <h3>Image</h3>
                <input type="text" name="blog[image]" value="<%= blog.image %>" required>
            </div>
            <div class="field">
                <h3>Blog</h3>
                <textarea rows="10" name="blog[body]" required><%= blog.body %></textarea>
            </div>
            <div class="ui grid">
                <div class="right floated one wide column" id="postButton">
                    <button id="edit-post-button" type="submit" class="new-blog-button"><img class="ui center aligned fluid image"
                            src="/images/post button.png" </button> </div> </div> </form> </div>

<%- include("./partials/footer") %>