<%- include("./partials/header") %>
<br>
<div class="ui container">
    <div class="ui vertically divided centered grid">
        <div class="row">
            <div class="sixteen wide column">
                <!-- <img class="random" src="<%= blog.image %>"> -->
                <h1 class="post-title"><%= blog.title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="fourteen wide column">
                <img class="ui center aligned fluid image" src="<%= blog.image %>">
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <p><%= blog.body %></p>
            </div>
        </div>
        <div class="row">
            <div class="left floated two wide column">
                <h5><%= blog.author %></h5>
            </div>
            <div class="right floated right aligned two wide column">
                <p><%= blog.createdAt.toDateString() %></p>
            </div>
        </div>
        <div class="row">
            <div id="bump" class="two wide column">
                <a href="/blogs/<%= blog.id %>/edit"><i id="edit-icon" class="big edit outline icon"></i></a>
            </div>
            <div class="two wide column">
                <form id="delete" action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
                    <button id="delete-icon" class="ui icon button">
                        <i class="big trash alternate icon"></i>
                      </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<%- include("./partials/footer") %>